*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.keys{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.key{
    border: 2px solid black;
    border-radius: 5px;
    margin: 1rem;
    width: 100px;
    font-size: 20px;
    padding: 1rem 1.2rem;
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    transition: .7s;
    text-shadow: 0 0 5px black;
}
.playing{
    transform: scale(1.1);
    border: 2px solid #ffc600;
    box-shadow: 0 0 10px #ffc600;

}
kbd{
    display: block;
    font-size: 40px;
}
.sound{
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffc600;
}